* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

#app {
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    letter-spacing: .1rem;
    font-weight: lighter;

    a {
        color: red;
    }
}